body{
    font-family: Arial, sans-serif;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    flex-wrap: wrap;
}
.main-nav img {
    width: 370px;
    height: 100px;
    margin-left: 0px;
}
.nav-links {
    display: flex;
    gap: 10px;
}
.nav-links a {
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
.index{color: rgb(80, 111, 145); font-weight: normal; padding: 15px 10px;}
.onama{color: rgb(80, 111, 145); font-weight: normal; padding: 15px 10px;}
.odjeljenja{color: rgb(80, 111, 145); font-weight: normal; padding: 15px 10px;}
.karijere{color: rgb(80, 111, 145); font-weight: normal; padding: 15px 10px;}
.zdravstvenekartice{color: rgb(80, 111, 145); font-weight: normal; padding: 15px 10px;}
.cjenik{color: rgb(80, 111, 145); font-weight: normal; padding: 15px 10px;}
.broj{
    background-color: RGB(0, 102, 204);
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
}

.kontakt {
    background-image: linear-gradient(90deg, RGB(153, 229, 255), RGB(153, 255, 229));
    padding: 80px;
    text-align: left;
    position: absolute;
    width: 91%;
    z-index: 2;
}
.kontakt h1 {
    color: rgb(54, 75, 97);
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 700px;
}
.kontakt h3{
    color: rgb(80, 111, 145);
    margin-left: 700px;
    font-weight: normal;
    line-height: 25px;
}

.članak1 {
    background: white;
    border-radius: 15px 15px 0px 0px;
    padding: 20px;
    width: 400px;
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
    z-index: 3;
    height: auto;
    padding-bottom: 51px;
}
.članak1 h2{
    color: RGB(0, 102, 204);
}
.članak1 h1{
    color: rgb(54, 75, 97);
}
.članak1 h3{
    color: rgb(80, 111, 145);
    font-weight: normal;
}

.članak2{
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    margin-top: 320px;
    width: 1260px;
    margin-left: 300px;
    height: auto;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color:  rgb(80, 111, 145);
    margin-top: 20px;
}
span{
    color: red;
}
.dopuni{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="email"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="tel"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="date"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="time"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    width: 300px;
    padding: 8px;
    border: 1px solid RGB(0, 102, 204);
    border-radius: 5px;
    background-color: RGB(0, 102, 204);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.članak3{
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-top: 30px;
    width: 1300px;
    margin-left: 300px;
    height: auto;
}
.članak3 h2{
    color: RGB(0, 102, 204);
}
.članak3 h1{
    color: rgb(54, 75, 97);
}
.info{
    display: flex;
    gap: 40px;
}
.br{
    color: rgb(54, 75, 97);
    font-size: 24px;
}
.gap{
    line-height: 0px;
    background-color: whitesmoke;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    padding: 4px;
    border-radius: 15px;
    width: 391px;
}




footer {
    background-color: rgb(54, 75, 97);
    color: white;
    padding: 30px 20px;
    margin-top: 50px;
    font-family: "Bitstream Vera Serif Bold";
    width: 98%;
}       
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid  rgb(80, 111, 145);
}

